<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Knowledge</span> 
    </mat-toolbar-row>
</mat-toolbar>


<router-outlet></router-outlet>

List Spaces: <a routerLink="/spaces/all">http://localhost:4200/spaces/all</a> <br/>
Contents:  <br/>
    list content: <a routerLink="/spaces/16738/view/16738"> http://localhost:4200/spaces/16738/view/16738 </a> <br/>
    create content: <a routerLink="/spaces/16738/content">http://localhost:4200/spaces/16738/content </a><br/>
    edit content:  <a routerLink="/spaces/16738/content/16738">http://localhost:4200/spaces/16738/content/16738 </a><br/>

